:root {
  --primary-color: #4d4d4d;
  --main-bg-color: #e6e6e6;
  --service-bg-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--primary-color);
  font-size: 1rem;
}

/* ---BANNER--- */
.banner {
  margin: 0.625em;
  border-radius: 0.625em;
  background-color: var(--main-bg-color);
  height: 12vh;
  display: flex;
  align-items: center;
  padding: 0.625em;
}
.banner h1 {
  margin: 0 auto;
}
/* ---SERVICES--- */
.services {
  background-color: var(--main-bg-color);
  margin: 1.2em;
  border: 1px solid transparent;
  border-radius: 0.625em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.service {
  background-color: var(--service-bg-color);
  color: var(--primary-color);
  border-radius: 0.625em;
  padding: 1.2em;
  margin: 1em 0.625em;
}
.service-title {
  text-align: center;
  text-transform: uppercase;
}
.service-content {
  margin: 0.625em;
}

@media (max-width: 786px) {
  .services {
    display: flex;
    flex-direction: column;
  }
}
.ip-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75em;
}
.ip-address {
  padding: 0.625em;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: #f6f6f6;
  font-size: 0.85em;
  font-style: italic;
  font-weight: bold;
}
